canvas {
    user-select: none;
    image-rendering: pixelated;
    border: 1px solid black;
}

.full-view {
    position: relative;
    scale: 0.3;
}

.full-view > canvas {
    position: absolute;
}

#full-view-camera {
    z-index: 3;
    pointer-events: none;
    border: none;
}

.div {
    display: flex;
}

.left {
    display: flex;
}

.right-panel {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
}

.right-panel > div {
    margin-bottom: 4px;
}

.right-panel > button {
    height: 2em;
}

.color-picker {
    display: flex;
    flex-direction: column;
}

.color-picker > label {
    margin-bottom: 4px;
}

.coord {
    display: flex;
}

.coord > div {
    flex: 1;
}

.bg-yellow {
    background-color: #ffc107;
    animation-duration: 1s;
    animation-name: green-to-yellow;
}

.bg-green {
    background-color: #8bc34a;
    color: azure;
    animation-duration: 1s;
    animation-name: yellow-to-green;
}

@keyframes yellow-to-green {
    from {
        background-color: #ffc107;
    }
    to {
        background-color: #8bc34a;
        color: azure;
    }
}

@keyframes green-to-yellow {
    from {
        background-color: #8bc34a;
        color: azure;
    }
    to {
        background-color: #ffc107;
    }
}
